/* line 22, ../../compass-master/sass/styles.scss */
body {
  background-image: url(../images/rwb.jpg);
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

/* line 33, ../../compass-master/sass/styles.scss */
#menu ul {
  clear: both;
  margin-bottom: 20px;
}
/* line 36, ../../compass-master/sass/styles.scss */
#menu ul li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
  font-size: 20px;
}
/* line 41, ../../compass-master/sass/styles.scss */
#menu ul li.active a {
  font-weight: bold;
  color: red;
}
/* line 45, ../../compass-master/sass/styles.scss */
#menu ul li a {
  color: white;
  text-decoration: none;
}

/* line 52, ../../compass-master/sass/styles.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 56, ../../compass-master/sass/styles.scss */
h1, h3 {
  color: white;
}

/* line 60, ../../compass-master/sass/styles.scss */
.header-wrapper {
  text-align: center;
  background-color: #404040;
  margin-top: 50px;
  position: fixed;
  z-index: 2000;
}

/* line 68, ../../compass-master/sass/styles.scss */
.tweetBox {
  margin: 15px;
  margin-top: 150px;
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* line 96, ../../compass-master/sass/styles.scss */
.ng-enter {
  animation: slideInRight 1s both ease-in;
  z-index: 8888;
}

/* line 101, ../../compass-master/sass/styles.scss */
.ng-leave {
  animation: slideOutLeft 1s both ease-in;
  z-index: 9999;
}

/* line 106, ../../compass-master/sass/styles.scss */
.userTweets {
  background-color: white;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

/* line 114, ../../compass-master/sass/styles.scss */
.tweet-wrapper {
  padding: 10px;
  background-color: #b3b3b3;
  border-radius: 5px;
}

/* line 120, ../../compass-master/sass/styles.scss */
.twPics {
  margin: 10px;
  border-radius: 5px;
}

/* line 125, ../../compass-master/sass/styles.scss */
.twText {
  margin: 10px;
}
