/* line 22, ../../compass-master/sass/styles.scss */
body {
  background: url(../images/rwb.jpg);
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
}

/* line 28, ../../compass-master/sass/styles.scss */
#menu ul {
  clear: both;
  margin-bottom: 20px;
}
/* line 31, ../../compass-master/sass/styles.scss */
#menu ul li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
  font-size: 20px;
}
/* line 36, ../../compass-master/sass/styles.scss */
#menu ul li.active a {
  font-weight: bold;
  color: red;
}
/* line 40, ../../compass-master/sass/styles.scss */
#menu ul li a {
  color: white;
  text-decoration: none;
}

/* line 47, ../../compass-master/sass/styles.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 51, ../../compass-master/sass/styles.scss */
h1, h3 {
  color: white;
}

/* line 55, ../../compass-master/sass/styles.scss */
.header-wrapper {
  text-align: center;
  background-color: #404040;
  margin-top: 50px;
  position: fixed;
  z-index: 2000;
}

/* line 63, ../../compass-master/sass/styles.scss */
.tweetBox {
  margin: 15px;
  margin-top: 150px;
}

/* line 68, ../../compass-master/sass/styles.scss */
.userTweets {
  background-color: white;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

/* line 76, ../../compass-master/sass/styles.scss */
.tweet-wrapper {
  padding: 10px;
  background-color: #b3b3b3;
  border-radius: 5px;
}

/* line 82, ../../compass-master/sass/styles.scss */
.twPics {
  margin: 10px;
  border-radius: 5px;
}

/* line 87, ../../compass-master/sass/styles.scss */
.twText {
  margin: 10px;
}
